.ProductContainer {
  width: 100%;
}

.titleContainer {
  width: 100%;
}

.Container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* .searchContainer {
  display: flex;
  width: 35%;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
} */
