.mainDiv {
  width: 100%;
  height: 100%;
}
.Col1 {
  width: 80%;
  margin: auto;
  height: 100%;
  margin-top: 5rem;
  margin-bottom: 3rem;
  padding: 0 2rem;
  color: black;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.Col2 {
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  color: black;
}

.list {
  width: 80%;
  height: 300px;
  border: 1px solid gray;
}
