.mainDiv {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}
.Col1 {
  width: 80%;
  margin: auto;
  height: 100%;
  margin-top: 5rem;
  margin-bottom: 3rem;
  padding: 0 2rem;
  color: black;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 500;
}
.Col2 {
  width: 100%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  color: black;
}

.list {
  width: 100%;
  height: 350px;
  border: 1px solid gray;
  padding: 1rem;
  border-radius: 20px;
}

.detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.productName {
  font-size: 18px;
  /* margin-bottom: 8px; */
}

.productButton {
  border: 1px solid gray;
  padding: 4px;
  font-size: 14px;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.priceList {
  display: flex;
  justify-content: space-between;
}
