.Container {
  width: 100%;
  height: 30vh;
  background-color: #a3a7a4;
  color: black;
  font-family: sans-serif;
}

.headingContainer {
  width: 80%;
  margin: auto;
  height: 30vh;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-items: center;
}

.FooterContainer {
  width: 100%;
  height: 20vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding: 0 2rem;
}

.ContactContainer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-items: start;
  align-items: start;
}
