.Col1 {
  width: 100%;
  height: 100vh;
}

.Col2 {
  width: 80%;
  height: 90vh;
  margin: auto;
  padding: 2rem;
}

.Coltext1 {
  color: black;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 3rem;
}

.Col3 {
  height: 40vh;
  color: black;
  margin-top: 5rem;
}
.textCol1 {
  display: flex;
  gap: 2rem;
}

.textCol2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2rem;
  font-size: 1.2rem;
}

.buttonTitle {
  display: flex;
  gap: 3rem;
}

.imageCol1 {
  height: 400px;
  border-radius: 10px;
}

.ColText {
  width: 70%;
  margin: auto;
  font-size: 20px;
  text-align: center;
  align-items: center;
  padding: 2rem;
}
