.Container {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  position: relative;
}

.Home {
  width: 100%;
  height: 100vh;
  color: black;
  position: relative;
}

.leftButton {
  position: absolute;
  top: 50vh;
  /* background-color: white; */
  left: 10%;
  cursor: pointer;
}
.rightButton {
  position: absolute;
  top: 50vh;
  /* background-color: white; */
  right: 10%;
  cursor: pointer;
}

.buttonIcons {
  font-size: 40px;
}

.image {
  width: 100%;
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background-size: auto;
  height: 100%;
}

.Image {
  background-size: cover;
}

.ImageContainer {
  width: 80%;
  margin: auto;
  height: 100%;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.collectionList {
  width: 100%;
  margin: auto;
  color: black;
  display: flex;
  margin-bottom: 2rem;
  /* padding: 0 2rem; */
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  align-content: center;
  gap: 2rem;
}

.menuItemList {
  width: 100%;
  margin: auto;
  color: black;
  /* padding: 0 2rem; */
  height: 10vh;
}

.menu {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  align-content: center;
  /* padding: 0 1rem; */
}
.imageList {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  height: 100%;
}

.CartContainer {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  width: 25%;
  text-align: center;
  align-items: center;
  align-content: center;
}

.list {
  width: 100%;
  height: 350px;
  border: 1px solid #cecfcf;
  color: black;
  padding: 0 2rem;
  border-radius: 10px;
  margin: auto;
}
.list:hover {
  background-color: #cecfcf;
  border: 1px solid #cecfcf;
  color: white;
}

.homeImage {
  width: 100%;
  height: 200px;
  margin-top: 1rem;
  border-radius: 10px;
}

.listName {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 20px;
}
.priceButton {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin-top: 1rem;
}

.LoadmoreButton {
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-items: center;
  color: black;
}

@media screen and (max-width: 900px) {
  .imageList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 630px) {
  .imageList {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

